@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
	--natural-color: hsl(0, 0%, 100%);
	--light-color: hsl(212, 45%, 89%);
	--medium-color: hsl(220, 15%, 55%);
	--dark-color: hsl(218, 44%, 22%);
	--ff-primary: 'Outfit', sans-serif;
	--fs-body: 15px;
	--sc-size-min: 375px;
	--sc-size-max: 1440px;
}
body {
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	background-color: var(--light-color);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem auto;
	padding: 0 20px;
}

.box {
	background-color: var(--natural-color);
	border-radius: 1rem;
	padding: 10px;
	height: 29rem;
	width: 18rem;
	position: relative;
	padding: 1rem;
}

.qr-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.qr-container img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.qr-content {
	text-align: center;
}

.qr-content h2 {
	font-weight: 700;
	font-size: 1.5rem;
	padding: 0.25rem 0.5rem;
}

.qr-content p {
	padding: 0 0.25rem;
	color: var(--medium-color);
}
